<div class="float--container container">
  <div class="footer--float flex container">
    <div class="float--header">
      <h2 class="float__heading container">Ready to Get Started?</h2>
      <p class="float__body">
        Choose the hosting provider that helps you start easy, build fast, and
        grow strong! It’s risk-free with our 14-day money back guarantee.
      </p>
    </div>
    <div class="float__btn">
      <button class="btn btn--secondary">Get Started</button>
    </div>
  </div>
</div>
<section class="footer container">
  <div class="flex--collapsibles">
    <div class="footer-logo-up">
      <a class="logo" href="\"
        ><img src="images/logo.svg" alt="Logo of company"
      /></a>
      <p>Copyright &copy; 2020 mosh</p>
    </div>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">PRODUCTS</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content footer__content">
        <a href="">WordPress Hosting</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Free Automated WordPress</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Migrations</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Domain Names</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Monthly Web Hosting</a>
      </div>
    </div>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">COMPANY</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content footer__content">
        <a href="">About</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Affiliates</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Blog</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Careers</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Community</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">News</a>
        <div class="collapsible__content footer__content">
          <a href="">Green Hosting</a>
        </div>
      </div>
    </div>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">SUPPORT</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content footer__content">
        <a href="">Contact</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Knowledge Base</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Forums</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">System Status</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Web Hosting</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">DreamCompute</a>
      </div>
    </div>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">DOMAINS</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content footer__content">
        <a href="">Domain Checker</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Domain Transfer</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Free Domain</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">XYZ Domain</a>
      </div>
      <div class="collapsible__content footer__content">
        <a href="">Cheap SSL Certificate</a>
      </div>
    </div>
    <div class="footer-logo">
      <a class="logo" href="\"
        ><img src="images/logo.svg" alt="Logo of company"
      /></a>
      <p>Copyright &copy; 2020 mosh</p>
    </div>
  </div>
</section>
