<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <a class="logo" href="\"
      ><img src="images/logo.svg" alt="Logo of company"
    /></a>
    <svg class="icon collapsible__menu">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ul class="item--collapsible">
      <a href="#">
        <li><p>Hosting</p></li>
      </a>
      <a href="#"
        ><li><p>VPS</p></li></a
      >
      <a href="#"
        ><li><p>Domain</p></li></a
      >
      <a href="#"
        ><li><p>Pricing</p></li></a
      >
    </ul>
  </div>
</div>
